<template>
    <div class="group flex items-center">
        <div class="mt-1 mr-4">
            <Link class="group flex items-center py-3" href="/">
                <icon name="dashboard" class="mr-2 w-4 h-4" :class="isUrl('') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
                <div :class="isUrl('') ? 'text-indigo' : 'text-indigo-300 group-hover:text-indigo'">Dashboard</div>
            </Link>
        </div>
        <div class="mt-1 mr-4">
            <Link class="group flex items-center py-3" href="/shop">
                <icon name="office" class="mr-2 w-4 h-4" :class="isUrl('shop') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
                <div :class="isUrl('organizations') ? 'text-indigo' : 'text-indigo-300 group-hover:text-indigo'">Shop</div>
            </Link>
        </div>
        <div class="mt-1 mr-4">
            <Link class="group flex items-center py-3" href="/about">
                <icon name="users" class="mr-2 w-4 h-4" :class="isUrl('about') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
                <div :class="isUrl('contacts') ? 'text-indigo' : 'text-indigo-300 group-hover:text-indigo'">About us</div>
            </Link>
        </div>
        <div class="mt-1 mr-4">
            <Link class="group flex items-center py-3" href="/contact">
                <icon name="printer" class="mr-2 w-4 h-4" :class="isUrl('contact') ? 'fill-white' : 'fill-indigo-400 group-hover:fill-white'" />
                <div :class="isUrl('reports') ? 'text-indigo' : 'text-indigo-300 group-hover:text-indigo'">Contact</div>
            </Link>
        </div>
    </div>
</template>

<script>
import { Link } from '@inertiajs/inertia-vue3'
import Icon from '@/Shared/Icon'
export default {
    components: {
        Icon,
        Link,
    },
    methods: {
        isUrl(...urls) {
            let currentUrl = this.$page.url.substr(1)
            if (urls[0] === '') {
                return currentUrl === ''
            }
            return urls.filter((url) => currentUrl.startsWith(url)).length
        },
    },
}
</script>